<!DOCTYPE html>
<html>
<head>
  <title>Twilio Testing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/../styles/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <form action="/complete" method="POST">
    <p>Username: <%- displayName %></p>
    Phone Number: <input type="text" name="phone_number" minlength="10" maxlength="10" placeholder="Number format: 2404819157"><br>
  </form>
  <script src="/../bundle.js"></script>
</body>
</html>