<!DOCTYPE html>
<html>
<head>
  <title>sigmund.io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/../styles/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
<div class="main-container">

    <div class="row">
        <div class="col-sm-2">
          <ul class="list-group" id="sidenav">
            <li class="brand-group"><a href="/" id="brand"><i class="glyphicon glyphicon-unchecked" id="brand-glyph"></i> sigmund</a></li>
            <li class="nav-item"><a href="#"><i class="glyphicon glyphicon-home"></i>  Home</a></li>
            <li class="nav-item" id="settings-nav"><a href="#"><i class="glyphicon glyphicon-cog"></i>  Settings</a></li>
            <li class="nav-item"><a href="/login"><i class="glyphicon glyphicon-off"></i>  Log Out</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9">
          <div id="demo"></div>
          <div class="settings">
            <div><i class="glyphicon glyphicon-remove"></i></div>
            <div id="settings-header">
              <div>This is a demo account.</div>
            </div>
            <div id="settings-body">
              <div>Click "Log Out" to create your account!</div>
            </div>
          </div>
        </div>
    </div>
</div>
  <script src="/../App.js"></script>
  <script>
    $(function() {

      $("#settings-nav").on("click", function(e) {
        e.preventDefault();
        $(".settings").toggleClass("show");
        $(".main-container").toggleClass("dim");
      });

      $(".glyphicon-remove").on("click", function(e) {
        e.preventDefault();
        $(".settings").toggleClass("show");
        $(".main-container").toggleClass("dim");
      });
    })()
  </script>
</body>
</html>

