<!DOCTYPE html>
<html>
<head>
  <title>sigmund.io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/../styles/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <div id="splash">
    <div class="container" id="splash-jumbo">
      <div class="row">
        <div class="col-sm-4 form form-group" id="tagline">
          <h1>Know Thyself.</h1>
          <h1>One Text a Day.</h1>
          <form action="/auth/google" method="GET">
            <button class="btn btn-danger btn-lg" href="/auth/google">Login with Google</button>
            <br/>
            <a id="demo-link" href="/demo">Or see a demo account!</a>
          </form>
        </div>
        <div class="col-sm-6" id="iphone-mock">
          <img src="./images/iphone-overlay.png">
        </div>
      </div>
    </div>
  </div>
  
  <script src="/../App.js"></script>
</body>
</html>