<!DOCTYPE html>
<html>
<head>
  <title>Twilio Testing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/../styles/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <a href="/auth/google">Log in with Google </a>
  <script src="/../bundle.js"></script>
</body>
</html>