
body { 
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    height: 720px;
    background-color: #f1f1f1;
    transition: background-color 500ms;
    -webkit-transition: background-color 500ms;
}

.navbar-brand {
    color: #6a67ce;
    letter-spacing: -1.2px;
}

/*
Landing Page
*/

#splash-jumbo {
    text-align: center;
    height: 700px;
}

#tagline {
    margin-top: 175px;
}

#tagline button {
    margin-top: 30px;
}

#iphone-mock img {
    width: 700px;
}

#demo-link {
    font-size: 8pt;
}

h1 {
    margin: 2px;
}

.action-button {
    background-color: white;
    color: #6a67ce;
    border: 1pt solid #6a67ce;
    height: 50px;
    transition: background-color 500ms, color 500ms, border 500ms;
    -webkit-transition: background-color 500ms, color 500ms, border 500ms;
}

.action-button:hover {
    background-color: #6a67ce;
    color: white;
}

/*
Complete Sign-Up Page
*/

.flash-error {
    background-color: red;
    opacity: 0.5;
}

#phone-entry {
    width: 250px;
    margin: 100px auto;
}

.name-group {
    margin-top: 20px;
}

/*
Main > Navbar
*/

.nav, #sidenav {
    border: 1pt solid;
    border-color: #EEE #DDD #CCC;
    border-bottom: 1px solid #EFF0F1;
}

.nav {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}

#sidenav {
    background-color: #2a2f36;
    height: 100%;
    width: 150px;
    position: fixed;
    padding-top: 10px;
}

.nav-item {
    border: none;
    list-style-type: none;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 10pt;
}

.nav-item:hover {
    transition: background-color 500ms;
    -webkit-transition: background-color 500ms;
    background-color: #6a67ce;
}

li a {
    color: #848887;
    text-decoration: none;
}

.nav-item:hover a {
    text-decoration: none;
    color: white;
}

.brand-group {
    padding: 10px 20px;
}

#brand {
    font-size: 14pt;
    color: #f1f1f1;
    letter-spacing: -1.2px;
}

#brand-glyph {
    color: #FC636B;
}

/*
Main > Linechart
*/

svg {
    margin-top: 20px;
    background-color: white;
    border: 1pt solid;
    border-color: #EEE #DDD #CCC;
}

.axis path,
.axis line {
  fill: none;
  stroke: #191816;
  shape-rendering: crispEdges;
  opacity: 0.1;
}

.x-axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #6a67ce;
  stroke-width: 2px;
  opacity: 0.8;
}

circle {
    fill: white;
    stroke: #A1A4AA;
    stroke-width: 2px;
}

circle:hover {
    fill: #FC636B;
    border: 2pt solid #1AAFD0;
    transition: fill 500ms, border 500ms;
    -webkit-transition: fill 500ms, border 500ms;
}

g text {
    font-size: 10pt;
}

/*
Main > Tooltip
*/

div.tooltip { 
    position: absolute;     
    width: 175px;          
    padding: 4px;       
    background: white; 
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
    border: 1pt solid #DFE0E2;
    border-radius: 4px;
    pointer-events: none;     
}

.tooltip-label {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: black;
}

table {
    width: 90%;
    margin: 5px auto;
    overflow: hidden;
}

td {
    width: 100%;
    display: block;
    padding: 4px;
}

th {
    text-align: center;
}

hr {
    margin: 5px;
}

.tooltip-chart-container {
    width: 100%;
    position: relative;
}

.tooltip-chart {
    background-color: #FC636B;
    height: 16px;
}

.data-emotion {
    display: inline;
    color: black;
    font-size: 8pt;
}

.dim {
    background-color: #32322C;
    transition: background-color 500ms, opacity 500ms;
    -webkit-transition: background-color 500ms, opacity 500ms;
}

/*
Main > Settings
*/

.show {
    display: block;
    transition: display 500ms;
    -webkit-transition: display 500ms;
}

.settings {
    display: none;
    background: white;
    border: 1pt solid;
    border-color: #EEE #DDD #CCC;
    border-bottom: 1px solid #EFF0F1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    width: 400px;
    font-size: 10pt;
    padding: 12px;
    position: absolute;
    top: 25%;
    left: 25%;
    transition: display 500ms;
    -webkit-transition: display 500ms;
}

#settings-header {
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

#settings-body {
    margin: 10px auto;
    width: 75%;
}

.glyphicon-remove {
    float: right;
}

.glyphicon-remove:hover {
    cursor: pointer;
}


/*
SCREEN SIZE DEPENDENT STYLING
*/

@media (max-width: 480px) {
    .main-container {
        display: none;
    }
}