
body { 
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
}


/*
Landing Page
*/

#splash-jumbo {
    text-align: center;
    height: 700px;
}

#tagline {
    margin-top: 200px;
}

#tagline button {
    margin-top: 30px;
}

#iphone-mock {
    margin-top: 10px;
}

#iphone-mock img {
    width: 700px;

}

#demo-link {
    font-size: 8pt;
}

h1 {
    margin: 2px;
}

/*
Complete Sign-Up Page
*/

.flash-error {
    background-color: red;
    opacity: 0.5;
}

#phone-entry {
    width: 250px;
    margin: 100px auto;
}

.name-group {
    margin-top: 20px;
}

/*
Main > Navbar
*/

#header {
    margin: auto 50px;
}

#sidenav {
    margin-top: 50px;
    width: 120px;
}

#sidenav li {
    border: none;
    list-style-type: none;
    padding: 10px;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

glyphicon:hover {
    color: #0074bf;
}

/*
Main > Linechart
*/

.axis path,
.axis line {
  fill: none;
  stroke: #191816;
  shape-rendering: crispEdges;
  opacity: 0.1;
}

.x-axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #2F3233;
  stroke-width: 2px;
  opacity: 0.8;
}

circle {
    fill: white;
    stroke: #2F3233;
    stroke-width: 2px;
}

circle:hover {
    fill: #2F3233;
}

g text {
    font-size: 8pt;
}

/*
Main > Tooltip
*/

div.tooltip { 
    position: absolute;     
    width: 175px;          
    padding: 4px;       
    background: white; 
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
    border: 1pt solid #DFE0E2;
    border-radius: 4px;
    pointer-events: none;     
}

.tooltip-label {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: black;
}

table {
    width: 90%;
    margin: 5px auto;
    overflow: hidden;
}

td {
    width: 100%;
    display: block;
    padding: 4px;
}

th {
    text-align: center;
}

hr {
    margin: 5px;
}

.tooltip-chart-container {
    width: 100%;
    position: relative;
}

.tooltip-chart {
    background-color: #2F3233;
    height: 16px;
}

.data-emotion {
    color: #EDFBFF;
    margin-left: 75%;
    padding: 0;
    font-size: 8pt;
}