
body { 
    font-size: 12pt;
    font-family: 'Crimson Text', serif;
}


/*
Landing Page
*/

#splash-jumbo {
    text-align: center;
    height: 700px;
}

#tagline {
    margin-top: 200px;
}

#tagline button {
    margin-top: 30px;
}

#iphone-mock {
    margin-top: 50px;
}

/*
Complete
*/

#phone-entry {
    width: 250px;
    margin: 100px auto;
}

/*
Main > Navbar
*/

#header {
    margin: auto 50px;
}

#sidenav {
    margin-top: 50px;
    width: 120px;
}

#sidenav li {
    border: none;
    list-style-type: none;
    padding: 10px;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #0074bf;
}

/*
Main > Scatterplot
*/

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

circle {
    fill: #DE6B48;
    opacity: 0.5;
}

div.tooltip { 
    position: absolute;     
    width: 300px;          
    height: 200px;         
    padding: 4px;       
    background: white; 
    font-size: 12pt;
    font-family: "Crimson Text", serif;
    border: 1pt solid black;  
    box-shadow: 5px 5px 2px #888888;  
    pointer-events: none;     
}

.label {
    color: black;
    font-weight: bold;
    font-size: 12pt;
    font-family: "Crimson Text", serif;
}